Redakcija.WinClient/Service References/WebServices/TestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64585/Services/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" />
  <xs:element name="PosaljiClanak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" minOccurs="0" name="clanak" nillable="true" type="q1:Clanak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosaljiClanakResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPublikacije">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPublikacijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" minOccurs="0" name="VratiPublikacijeResult" nillable="true" type="q2:ArrayOfPublikacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>