Redakcija.WinClient/Service References/WebServices/TestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zeks.co.uk/redakcija" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zeks.co.uk/redakcija" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://zeks.co.uk/redakcija/Imports">
      <xsd:import schemaLocation="http://localhost:64585/Services/TestService.svc?xsd=xsd0" namespace="http://zeks.co.uk/redakcija" />
      <xsd:import schemaLocation="http://localhost:64585/Services/TestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64585/Services/TestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TestService_PosaljiClanak_InputMessage">
    <wsdl:part name="parameters" element="tns:PosaljiClanak" />
  </wsdl:message>
  <wsdl:message name="TestService_PosaljiClanak_OutputMessage">
    <wsdl:part name="parameters" element="tns:PosaljiClanakResponse" />
  </wsdl:message>
  <wsdl:message name="TestService_VratiPublikacije_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiPublikacije" />
  </wsdl:message>
  <wsdl:message name="TestService_VratiPublikacije_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiPublikacijeResponse" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="PosaljiClanak">
      <wsdl:input wsaw:Action="http://zeks.co.uk/redakcija/TestService/PosaljiClanak" message="tns:TestService_PosaljiClanak_InputMessage" />
      <wsdl:output wsaw:Action="http://zeks.co.uk/redakcija/TestService/PosaljiClanakResponse" message="tns:TestService_PosaljiClanak_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiPublikacije">
      <wsdl:input wsaw:Action="http://zeks.co.uk/redakcija/TestService/VratiPublikacije" message="tns:TestService_VratiPublikacije_InputMessage" />
      <wsdl:output wsaw:Action="http://zeks.co.uk/redakcija/TestService/VratiPublikacijeResponse" message="tns:TestService_VratiPublikacije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>