Redakcija.WinClient/Service References/WebServices/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Redakcija.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Clanak">
    <xs:sequence>
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="KreatorID" type="xs:int" />
      <xs:element minOccurs="0" name="Naslov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublikacijaID" type="xs:int" />
      <xs:element minOccurs="0" name="Raw" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RubrikaID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clanak" nillable="true" type="tns:Clanak" />
  <xs:complexType name="ArrayOfPublikacija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Publikacija" nillable="true" type="tns:Publikacija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublikacija" nillable="true" type="tns:ArrayOfPublikacija" />
  <xs:complexType name="Publikacija">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rubrike" nillable="true" type="tns:ArrayOfRubrika" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publikacija" nillable="true" type="tns:Publikacija" />
  <xs:complexType name="ArrayOfRubrika">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rubrika" nillable="true" type="tns:Rubrika" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRubrika" nillable="true" type="tns:ArrayOfRubrika" />
  <xs:complexType name="Rubrika">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rubrika" nillable="true" type="tns:Rubrika" />
</xs:schema>